body,
html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main {
  width: 700px;
  border: 1px solid;
  margin: 0 auto;
  padding: 30px;
  display: flex;
}

.column {
  text-align: center;
  width: 20%;
}

.password {
  margin: 0;
}

.password.active {
  /* border: 1px solid; */
}

#selector {
  position: fixed;
  left: -999px;
  top: -999px;
  width: 140px;
  height: 22px;
  background: yellow;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}
